:root {
    --font-family: 'Quicksand';
    --text-color: #707283;
    --btn-main: linear-gradient(180deg, #FFA992 0%, #FF7852 65%);
}

body {
    font-family: var(--font-family);
    color: var(--text-color);
}