.team {
    &__wrapper {
        max-width: 1490;
        margin: 0 auto;
        background: #FFECE4;
        padding: 100px;
        border-radius: 50px;
    }
    &__text  {
        font-family: 'Nunito';
        font-weight: 800;
        font-size: 20px;
        text-align: center;
        color: #FF7751;
    }
    &__title {
        padding: 10px 0 60px 0;
        font-size: 64px;
        text-align: center;
    }
    &__cards {
        display: flex;
        justify-content: space-between;

        .card {
            &__wrapper {
                width: 292px;
                background: #FFFFFF;
                border-radius: 146px;
                padding: 50px 50px 70px 50px;
            }
            &__wrapper:hover {
                background: linear-gradient(180deg, #FFBBA9 0%, #FF6236 100%);
            }
            &__img {
                width: 192px;
                height: 192px;
                border-radius: 50%;
           }
            &__title {
                font-size: 24px;
                line-height: 100%;
                letter-spacing: 0%;
                text-align: center;
                margin: 30px 0 7px 0;
            }
            &__description {
                font-family: 'Quicksand';
                font-weight: 1;
                font-size: 18px;
                line-height: 100%;
                letter-spacing: 0%;
                text-align: center;
                color: #FF7751;
            }
        }
    }
}