.experience {
    position: relative;
    width: 100%;

    &__wrapper {
        max-width: 1604px;
        margin: 0 auto;
        padding: 75px 0 75px 150px;
    }
    &__text {
        font-family: 'Nunito';
        font-weight: 800;
        font-size: 20px;
        color: #FF7751;
    }
    &__title {
        max-width: 628px;
        padding: 10px 0 30px 0;  
        font-size: 64px;
    }
    &__description {
        max-width: 630px;
        font-size: 18px;
        line-height: 30px;
    }
    &__list {
        padding: 25px 0 21px 0;
        .experience-item {
            margin-bottom: 25px;
            &__img {
                margin-right: 10px;
            }
        }
    }
    &__img {
        position: absolute;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

        &--1 {
            right: calc(92 / 1604 * 100%);
            top: calc(50 / 711 * 100%);
            width: calc(492 / 1604 * 100%);
            height: calc(635 / 711 * 100%);
        }
        &--2 {
            right: calc(481 / 1604 * 100%);
            top: calc(456 / 711 * 100%);
            width: calc(164 / 1604 * 100%);
            height: calc(164 / 711 * 100%);
        }
        &--3 {
            right: calc(52 / 1604 * 100%);
            top: calc(456 / 711 * 100%);
            width: calc(164 / 1604 * 100%);
            height: calc(164 / 711 * 100%);
        }
        &--4 {
            right: 0;
            top: calc(219 / 711 * 100%);
            width: calc(90 / 1604 * 100%);
            height: calc(90 / 711 * 100%);
        }
        &--5 {
            left: 0;
            top: 0;
            width: calc(66 / 1604 * 100%);
            height: calc(75 / 711 * 100%);
        }
    }
}